<form>
    <label for="name">Name</label>
    <input type ="text" [(ngModel)] = "model.name" name = 'name' required><br>
    <label for="name">Description</label>
    <input type ="text" [(ngModel)] = "model.description" name = 'description' required><br>
    <label for="name">Campus</label>
    <input type ="text" [(ngModel)] = "model.campus" name = 'campus' required><br>
    <label for="name">Tags</label>
    <input type ="text" [(ngModel)] = "model.tags" name = 'tags' required><br>
    <button type="submit" class="btn btn-success">Edit</button>
</form>
<p><a [routerLink]="['/']">Back</a>.</p>
