<h2>{{group.name}}</h2>
<h3>Description:</h3>
<p>{{group.description}}</p>
<h3>Campus</h3>
<p>{{group.campus}}</p>
<h3>Date created:</h3>
<p>{{group.date}}</p>
<h3>Tags</h3>
<p>{{group.tags}}</p>
<br>
<h2>Events</h2>
<p> Here are your events:</p>

<form>
<label for="search">Search by Tags</label>
<input type="text" [(ngModel)]="tags" name="search"><br>
<button type="submit" (click)="getEvents()">Filter</button>
</form>
<ul *ngFor='let event of events'>
  <li><a [routerLink]="['/event', event._id]">{{event.name}}</a></li>
</ul>

<p> What would you like to do?</p>
<p><a [routerLink]="['/createevent', _id]">Create an event</a>.</p>
<p><a [routerLink]="['/']">View Groups</a>.</p>
<p><a [routerLink]="['/group', _id, 'edit-group']">Edit Group</a>.</p>
<p><a [routerLink]="['/login']">Log out</a>.</p>

<div *ngIf="following">
  You are following this group! Yay!
</div>
<div *ngIf="!following">
  <button (click)="followGroup()">Follow this group!</button>
</div>
